streamlit==1.29.0
pandas==2.1.1
requests==2.31.0
plotly==5.15.0
python-dotenv==1.1.1
st_autorefresh==0.0.3      # añade versión específica si existe
pygments==2.19.2
mdurl==0.1.2
markdown-it-py==4.0.0
rich==14.2.0
